@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.divEntrdas{
    padding: 8px;
    background-color: black;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
}


/* 
nav {
    height: 65px;
    background-color: rgb(45, 42, 42);
    display: flex;
  
} */

nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.667);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; 
    backdrop-filter: blur(2px); 
}

nav.scrolled {
    background-color: rgb(0, 0, 0); 
}
nav .title{
    margin: auto;
}

.sectionHome {
    margin: 0;
    padding: 0;
        width: 100%;
        height: 750px;
        background-size: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível */
        background-position: center; /* Centraliza a imagem no elemento */
        background-repeat: no-repeat; /* Impede a repetição da imagem */
        background-image: url("../assets/imgs/homeoagefundo.png");
}
.fundoImg{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.426);
    width: 100%;
    height: 750px;
}

.containerHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.cardHome{
    margin-top: 120px;
    width: 400px;
    margin-left: 80px;
    color: white;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
}
.cardHome {
    background: transparent;
}



   
section.sobre {
    height: 700px;
    padding: 40px 4%;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.txt-sobre {
    color: #fff;
}

.txt-sobre p {
    font-size: 20px;
    margin: 20px 0;
    text-align: justify;
}

section.sobre .flex {
    display: flex;
    align-items: center;
    gap: 60px;
}

.img-sobre img {
    width: 400px;
}

.txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

}

.txt-sobre h2 span {
    color: #00FF08;
    display: block;

}

.btn-social button {
    background-color: #00FF08;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-social button:hover {
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
    transition: .2s;
}

.img-sobre img {
    border-radius: 40px;
    box-shadow: 0px 0px 10px #00FF08;
  
}

.title-sobreMim {
    text-align: center;
    font-family: 'Minecraft', sans-serif;
    color: #ffffff;
    font-size: 28px;

}
/*div personagens*/
.titlePersonagem{
   
    color: #00FF08;
    background-color: #424242;
}


    .containerPerson {
        color: #FFF;
        font-family: Segoe UI;
        width: 100%;
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #424242;
        padding-top: 40px;
        padding-bottom: 20px;
    }


    .card {
        border-radius: 16px;
        /* box-shadow: #00FF08 0px 5px 15px; */
        cursor: pointer;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(#333, #333);
        transition: all .5s;
    }

    .card:hover {
        background-image: linear-gradient(#672abf, #380e74);
    }

    .card .img {
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        /* background-image: url(Evelynn.jpg); */
        background-size: cover;
        background-position: center;
        transition: all .5s;
        z-index: 2;
        position: relative;
        opacity: .8;
    }

    .card .img span {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 100;
        font-style: italic;
        transition: all .5s;
    }

    .card:hover .img {
        width: 430px;
        opacity: 1;
    }

    .card:hover .img span {
        font-size: 28px;
    }

    .card .content {
        padding: 0px 20px;
        height: 0;
        opacity: 0;
        transition: all .5s;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        transform: translateY(30px);
    }

    .card:hover .content {
        height: 260px;
        padding: 20px;
        opacity: 1;
        transform: translateY(0);
    }

    .card .content p {
        margin: 0;
    }

    .card .content .title {
        font-size: 20px;
        font-weight: 600;
    }

    .card .content .desc {
        font-size: 14px;
        font-weight: 100;
        opacity: .8;
        margin-top: 8px;
    }

    .card .arrow {
        padding: 15px;
        transform: rotate(-180deg);
        transition: all .5s;
    }

    .card:hover .arrow {
        transform: rotate(0);
    }

    .card .arrow span {
        font-size: 24px;
    }