@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: none;
    border: none;
    text-decoration: none; */
}

body {
    background-color: #181818;
    /* body {
        background: #dfe9f5;
    } */
}

.navigation {
    margin-bottom: 50px;
    position: relative;
    height: 695px;
    background: #424242;
    box-shadow: 10px 0 0 #099c22;
    width: 260px;
    border-left: 10px solid #424242;
    overflow: hidden;
}


.navigation ul {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-top: 40px;
    display: flex; 
    flex-direction: column; 
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center; 
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a .icon {
    font-size: 1.5rem;
    margin-right: 10px; 
}

.navigation ul li a:hover {
    background-color: #099c22; 
}

.navigation ul li a:hover .title {
    font-weight: bold;
}
/*seção destinada para as tags no menu lataral*/
.sectionsMenus {
    display: flex;
    max-height: 695px;
}
/*seção para conter as divs dos menus*/
.containerRef {
    margin-left: 30px;
    width: 1230px;
    height: 695px;
}

.perfil {
    width: 1230px;
    height: 695px;
    background-color: rgb(168, 110, 41);
}

.dashboard {
    width: 1230px;
    height: 695px;
    background-color: rgb(62, 41, 168);
}